DB_URL=jdbc:postgresql://localhost:5432/farmtofolk
DB_USERNAME=manasadevaram
DB_PASSWORD=

REDIS_HOST=localhost
REDIS_PORT=6379

JPA_DDL_AUTO=update
JPA_SHOW_SQL=true
HIBERNATE_FORMAT_SQL=true

AWS_REGION=ap-south-1
AWS_S3_BUCKET=farmtofolk-ledger-dev
AWS_ACCESS_KEY_ID=change_me
AWS_SECRET_ACCESS_KEY=change_me
